html {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	/* min-height: 100%; */
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.appContainer {
	height: 100%;
	width: 100%;
}

/* #app>div {
	min-height: 100%;
	height: 100%;
} */

mark {
	padding: 0px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
